h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h5 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.nav-link-reglamento {
    color: rgba(12, 1, 1, 0.836) !important;
    font-size: 17px;
    padding: 5px;
    margin: 5px;
    transition: transform 0.4s ease, color 0.4s ease !important;
    border: 1px solid black;
}

.nav-link-reglamento:hover {
    color: rgb(253, 253, 253) !important;
    transform: scale(0.9) !important;
}

.card {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.726);
}

.titulo {
    background-color: rgb(10, 116, 0);
    color: rgb(255, 255, 255);
}

.fade-in {
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}