

.contenedorPrincipal{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.726);
}


.contImg:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    box-shadow: 0px 4px 8px rgba(212, 17, 17, 0.726);
}


.tituloPatrocinador{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
  
}

.tituloInicial {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 40px;
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    
}